<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible"
          content="IE=edge" />

    <title>
      {{ meta_title }}
    </title>

    <meta name="description"
          content="{{ meta_description }}" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0" />

    <style>
      {{> styles}}
    </style>

    {{ ghost_head }}
  </head>

  <body itemscope
        itemtype="http://schema.org/Blog">

    <header class="header">

      <a href="{{ @blog.url }}"
         class="header__branding">
        {{#if @blog.logo }}
        <img src="{{ @blog.logo }}"
             class="header__branding__logo"
             width="120"
             height="120" />
        {{/if}}

        <h1 class="header__branding__title"
            itemprop="name">
          {{ @blog.title }}
        </h1>
      </a>

      {{ navigation }}

    </header>

    {{{ body }}}

    {{> footer }}

    <script src="{{ asset "js/scripts.min.js" }}">
    </script>

    {{ ghost_foot }}

  </body>
</html>
